# API Keys and Environment Variables
.env

# Large Dataset Files
*.csv
phishing_email.csv
Dataset.csv

# Parquet files
*.parquet
test-00000-of-00001-8a6d39996ec0fb5b.parquet

# Model Files
*.pkl
model.pkl
tfidf_vectorizer.pkl

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDE Settings
.idea/
.vscode/
*.swp
*.swo
*~

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# OS Files
.DS_Store
Thumbs.db